
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    text-decoration: underline;
}

body {
    background-color: lightgray;
}

.color1 {
    border: 1px solid black;
    padding: 40px 0px;
    text-align: center;
    width: 30%;
    background-color: #debb41;
}

.color2 {
    border: 1px solid black;
    padding: 40px 0px;
    text-align: center;
    width: 30%;
    background-color: #303436;
    color: white
}

.color3 {
    border: 1px solid black;
    padding: 40px 0px;
    text-align: center;
    width: 30%;
    background-color: #002657;
    color: white;
}

.color4 {
    border: 1px solid black;
    padding: 40px 0px;
    text-align: center;
    width: 30%;
    background-color: #327F94;
}

.font1a {
    font-family: 'Comic Neue', cursive;
    font-size: 18px;
}

.font1b {
    font-family: 'Comic Neue', cursive;
    font-size: 18px;
    font-weight: bold;
}

.font1c {
    font-family: 'Comic Neue', cursive;
    font-size: 18px;
    font-style: italic;
}

.font2a {
    font-family: 'Amiri', serif;
    font-size: 18px
}

.font2b {
    font-family: 'Amiri', serif;
    font-size: 18px;
    font-weight: bold;
}

.font2c {
    font-family: 'Amiri', serif;
    font-size: 18px;
    font-style: italic;
}

.font3a {
    font-family: 'Cormo8rant', serif;
    font-size: 18px;
}

.font3b {
    font-family: 'Cormo8rant', serif;
    font-size: 18px;
    font-weight: bold;
}

.font3c {
    font-family: 'Cormo8rant', serif;
    font-size: 18px;
    font-style: italic;
}

.style1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    font-weight: bold;
}

.style2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.style3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

p {
    border: 1px solid black; 
}